@import 'https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css';
@import 'tailwindcss';
@import "../../node_modules/remark-github-alerts/styles/github-colors-light.css";
@import "../../node_modules/remark-github-alerts/styles/github-colors-dark-class.css";
@import "../../node_modules/remark-github-alerts/styles/github-base.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    JetBrains Mono, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-wght.woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Italic-wght.woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.97 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.96 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.96 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.97 0 0);
  --secondary: oklch(0.93 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0 0);
  --muted-foreground: oklch(0.45 0 0);
  --accent: oklch(0.93 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.88 0 0);
  --input: oklch(0.88 0 0);
  --ring: oklch(0.708 0 0);
  --chart-0: oklch(0.92 0.00 0);
  --chart-1: oklch(0.27 0.00 0);
  --chart-2: oklch(0.36 0.00 0);
  --chart-3: oklch(0.45 0.00 0);
  --chart-4: oklch(0.54 0.00 0);
  --chart-5: oklch(0.63 0.00 0);
  --chart-6: oklch(0.72 0.00 0);
  --chart-7: oklch(0.81 0.00 0);
  --sidebar: oklch(0.95 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.97 0 0);
  --sidebar-accent: oklch(0.93 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.88 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-0: oklch(0.22 0.00 0);
  --chart-1: oklch(0.92 0.00 0);
  --chart-2: oklch(0.83 0.00 0);
  --chart-3: oklch(0.74 0.00 0);
  --chart-4: oklch(0.65 0.00 0);
  --chart-5: oklch(0.56 0.00 0);
  --chart-6: oklch(0.47 0.00 0);
  --chart-7: oklch(0.38 0.00 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* absolute amalgamation */
/* :root {
  --background: oklch(0.96 0.0107 100.82);
  --foreground: oklch(0.34 0.0269 95.72);
  --muted: oklch(0.93 0.0153 90.24);
  --muted-foreground: oklch(0.5 0.0172 98.53);
  --popover: oklch(0.92 0.0175 99.61);
  --popover-foreground: oklch(0.27 0.0196 98.94);
  --card: oklch(0.92 0.0195 90.55);
  --card-foreground: oklch(0.34 0.0269 95.72);
  --border: oklch(0.86 0.0138 97.47);
  --input: oklch(0.76 0.0156 98.35);
  --primary: oklch(0.43 0.0392 42);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.0195 90.55);
  --secondary-foreground: oklch(0.34 0.0269 95.72);
  --accent: oklch(0.88 0.0276 93.12);
  --accent-foreground: oklch(0.27 0.0196 98.94);
  --destructive: oklch(0.64 0.2078 25.33);
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.59 0.1673 253.06);
  --chart-0: oklch(0.96 0.01 100);
  --chart-7: oklch(0.89 0.02 95);
  --chart-6: oklch(0.82 0.03 90);
  --chart-5: oklch(0.75 0.035 85);
  --chart-4: oklch(0.68 0.04 80);
  --chart-3: oklch(0.61 0.045 75);
  --chart-2: oklch(0.54 0.05 70);
  --chart-1: oklch(0.47 0.055 65);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.18 0 0);
  --foreground: oklch(0.95 0 0);
  --muted: oklch(0.25 0.015 66);
  --muted-foreground: oklch(0.77 0 0);
  --popover: oklch(0.21 0.02 66);
  --popover-foreground: oklch(0.95 0 0);
  --card: oklch(0.26 0.025 66);
  --card-foreground: oklch(0.95 0 0);
  --border: oklch(0.36 0 0);
  --input: oklch(0.4 0.025 66);
  --primary: oklch(0.92 0.0524 66.18);
  --primary-foreground: oklch(0.2 0.0236 204.32);
  --secondary: oklch(0.21 0 0);
  --secondary-foreground: oklch(0.95 0 0);
  --accent: oklch(0.32 0.035 66);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.63 0.1936 33.34);
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.92 0.0524 66.18);
  --chart-0: oklch(0.21 0 0);
  --chart-7: oklch(0.47 0.025 66);
  --chart-6: oklch(0.54 0.03 66);
  --chart-5: oklch(0.61 0.035 66);
  --chart-4: oklch(0.68 0.04 66);
  --chart-3: oklch(0.75 0.045 66);
  --chart-2: oklch(0.82 0.05 66);
  --chart-1: oklch(0.89 0.055 66);
} */

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }

  html {
    color-scheme: light;
    @apply bg-background text-foreground;

    &.dark {
      color-scheme: dark;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }

  .disable-transitions * {
    @apply transition-none!;
  }
}

@theme {
  --animate-blink: blink 1.25s step-end infinite;
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
