---
import Link from '@/components/Link.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import { MobileMenuV2, MobileMenu } from '@/components/ui/mobile-menu'
import { NAV_LINKS, SITE } from '@/consts'
import { Image } from 'astro:assets'
import { MdOutlineKeyboardArrowRight } from "react-icons/md"
---

<header
  class="bg-background/50 sticky top-0 z-10 backdrop-blur-md"
  transition:persist
>
  <div
    class="mx-auto flex max-w-3xl flex-wrap items-center justify-between gap-4 p-4"
  >
    <Link href="/" class="flex shrink-0 items-center text-xl font-medium relative">
      <!-- <MdOutlineKeyboardArrowRight className='size-6 mr-2' /> -->
      {SITE.title}
      <!-- <span class="absolute -right-[0.65rem] top-0 inline-block w-[0.65rem] h-full bg-foreground/80 animate-blink" /> -->
    </Link>
    <div class="flex items-center gap-2 md:gap-4">
      <nav class="hidden items-center gap-4 text-sm sm:gap-6 md:flex">
        {
          NAV_LINKS.map((item) => (
            <Link
              href={item.href}
              class="text-foreground/60 hover:text-foreground/80 capitalize transition-colors"
            >
              {item.label}
            </Link>
          ))
        }
      </nav>
      <MobileMenu client:load transition:persist />
      <ThemeToggle transition:persist />
    </div>
  </div>
</header>